/*
FFC996 - tan
FF8474 - salmon
9F5F80 - lighter purple
583D72 - darker purple
https://www.colorhunt.co/palette/ffc996ff84749f5f80583d72
*/

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}
