/*
FFC996 - tan
FF8474 - salmon
9F5F80 - lighter purple
583D72 - darker purple
https://www.colorhunt.co/palette/ffc996ff84749f5f80583d72
*/

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 20px;
}

/*Display*/
.root,
.projects, 
.tech-container {
    display: flex;
}


.root { 
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

section {
    border: .05rem black solid;
}

/* Header Container */
header {
    text-align: center;
}

/* About Me Container */

/* Project Container */
.projects > div {
    width: 50%;
}

/* Tech Container */
.tech-container {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tech-container > div {
    width: 4.5rem;
    text-align: center;
    margin: 1rem 1rem;
}

